#main-content202003053224 {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0px 2px 4px -1px rgba(0, 0, 0, 0.2), inset 0px 4px 5px 0px rgba(0, 0, 0, 0.14), inset 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        pointer-events: none;
    }
    > .content-tabs-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        > .el-tabs__header {
            // @include elevation2();
            margin: 0;
        }

        > .el-tabs__content {
            flex: 1;
            overflow: hidden;

            > .el-tab-pane {
                height: 100%;
                overflow: auto;
            }
        }
    }
}
