{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "document": true,
    "TEMPLATE_PLACEHOLDER": true,
    "window": true
  }
}