.search-wrapper input {
  width: 50px;
  height: 24px;
  font-size: 14px;
  padding-left: 14px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #f9f0da;
  outline: none;
  position: relative;
  transition: 0.3s linear;
}

.search-wrapper input:focus {
  width: 100%;
}