.d3-wrapper {
    #d3 {
        text-align: center;
        width: 100%;
        min-height: 50px;
        padding: 10px;
        background-color: #00bcd4;

        li a.red {
            background-color: grey;
        }

    }
}