.d3-wrapper {
    #d3 {
        text-align: center;
        width: 100%;
        min-height: 50px;
        padding: 10px;
        background-color: #00bcd4;

        li a.red {
            background-color: grey;
        }

    }

    .h-bar {
        line-height: 24px;
        margin: 4px;
        color:white;
        text-shadow: 1px 1px 1px black;

        &.red {
            background-color: red;
        }

        &.yellow {
            background-color: yellow;
        }
        &.blue {
            background-color: #00bcd4;
        }

        &.green {
            background-color: green;
        }
    }
}