<main class="aui-content aui-content--tabs">
    <el-dropdown class="aui-content--tabs-tools"> <i class="el-icon-arrow-down"></i>
        <el-dropdown-menu slot="dropdown" :show-timeout="0">
            <el-dropdown-item @click.native="tabRemoveHandle(selfContentTabsActiveName)">
                {{ $t('contentTabs.closeCurrent') }}</el-dropdown-item>
            <el-dropdown-item @click.native="tabsCloseOtherHandle()">
                {{ $t('contentTabs.closeOther') }}</el-dropdown-item>
            <el-dropdown-item @click.native="tabsCloseAllHandle()">{{ $t('contentTabs.closeAll') }}
            </el-dropdown-item>
        </el-dropdown-menu>
    </el-dropdown>
    <el-tabs v-model="selfContentTabsActiveName" @tab-click="tabSelectedHandle" @tab-remove="tabRemoveHandle">
        <el-tab-pane v-for="item in selfContentTabs" :key="item.name" :name="item.name" :label="item.title"
            :closable="item.name !== 'home'" class="is-iframe">
            <template v-if="item.name === 'home'">
                <svg slot="label"
                    class="icon-svg aui-content--tabs-icon-nav" aria-hidden="true">
                    <use xlink:href="#icon-home"></use>
                </svg>
            </template>
            <iframe :ref="camelCaselize(item.name)" :id="'iframe-'+item.name" v-show="iframeVisibleHandle(item)"
                :src="item.url" width="100%"
                height="100%" frameborder="0"
                scrolling="yes"></iframe>
        </el-tab-pane>
    </el-tabs>
</main>